* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100vh;
}

header nav {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  z-index: 999;
  padding: 8px 0px 8px 0px;
  position: absolute;
}

header nav .menu-bar-close {
  display: none;
}

header nav .menu-bar {
  display: none;
  margin: 10px;
  width: 35px;
  height: 32px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

header nav .menu-bar .menu-icon {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

header nav .menu-bar .menu-icon:nth-child(1) {
  top: 0px;
}

header nav .menu-bar .menu-icon:nth-child(2) {
  top: 13px;
}

header nav .menu-bar .menu-icon:nth-child(3) {
  top: 26px;
}

header nav .menu-bar .open:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

header nav .menu-bar .open:nth-child(2) {
  opacity: 0;
  left: -60px;
}

header nav .menu-bar .open:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media (max-width: 1000px) {
  header nav .menu-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header nav .navigation {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 70px 0px 70px;
}

header nav .navigation .logo {
  font-size: 30px;
  font-weight: 900;
}

header nav .navigation .logo a {
  text-decoration: none;
  color: white;
}

header nav .navigation .ul-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
  list-style-type: none;
}

header nav .navigation .ul-desktop li a {
  text-decoration: none;
  margin: 0px 20px 0px 20px;
  color: white;
}

header nav .navigation .ul-desktop li a:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #FFF), color-stop(40%, #f6f6fc88), color-stop(60%, #e3e5ff88), color-stop(80%, #FFF));
  background: linear-gradient(to right, #FFF 20%, #f6f6fc88 40%, #e3e5ff88 60%, #FFF 80%);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: animate-header-text 3s linear infinite;
          animation: animate-header-text 3s linear infinite;
}

@media (max-width: 1000px) {
  header nav .navigation .ul-mobile {
    line-height: 35px;
    display: block;
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  header nav .navigation {
    display: none;
    margin: 0;
  }
  header nav .navigation-mobile-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .navigation-mobile-open .logo {
    margin: 10px 0px 20px 0px;
  }
}

header .nav-active {
  background-color: #0067f7;
  border-bottom: #0000001c 2px solid;
  position: fixed;
  z-index: 99;
  padding: 0;
}

@media (max-width: 1000px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 2px;
    background-color: #6c79ff;
    width: auto;
    border-radius: 50%;
    position: fixed;
    top: 6px;
    right: 6px;
  }
  header .nav-mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    background-color: #7a83ea;
    border-radius: 0% 0% 16% 121%;
    z-index: 43;
    height: 80vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    top: 0;
    right: 0;
  }
}

header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-background .animated-wave {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 87vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#0067f7), to(#7a84ea));
  background: linear-gradient(#0067f7, #7a84ea);
  border-bottom-right-radius: 70%;
  border-bottom-left-radius: 30%;
  -webkit-animation: animate-wave 5.3s linear infinite;
          animation: animate-wave 5.3s linear infinite;
}

header .header-background .animated-wave-shadow {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 91vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b66b9), to(#747ee8));
  background: linear-gradient(#2b66b9, #747ee8);
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 70%;
  border-bottom-left-radius: 20%;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

header .header-background .animated-wave-shadow-opacity {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 93vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b66b97e), to(#747ee888));
  background: linear-gradient(#2b66b97e, #747ee888);
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.11);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.11);
  border-bottom-right-radius: 65%;
  border-bottom-left-radius: 15%;
  -webkit-animation: animate-wave-opacity 8s linear infinite;
          animation: animate-wave-opacity 8s linear infinite;
}

@media (max-width: 1000px) {
  header .header-background .animated-wave {
    -webkit-animation: none;
            animation: none;
  }
  header .header-background .animated-wave-shadow {
    -webkit-animation: none;
            animation: none;
  }
  header .header-background .animated-wave-shadow-opacity {
    -webkit-animation: none;
            animation: none;
  }
}

header .header-content {
  cursor: default;
  z-index: 10;
  font-family: 'Rubik', sans-serif;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  top: 26%;
  width: 100%;
  position: absolute;
  padding: 40px 0px 15px 0px;
}

header .header-content h1 {
  font-size: 65px;
  font-family: 'Rubik', sans-serif;
  color: white;
  -webkit-animation: animate-header-text 3s linear infinite;
          animation: animate-header-text 3s linear infinite;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #FFF), color-stop(40%, #f6f6fcea), color-stop(60%, #e3e5ffe3), color-stop(80%, #FFF));
  background: linear-gradient(to right, #FFF 20%, #f6f6fcea 40%, #e3e5ffe3 60%, #FFF 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

header .header-content h1:hover {
  -webkit-transform: scale(1.05, 1.07);
          transform: scale(1.05, 1.07);
}

@media (max-width: 780px) {
  header .header-content h1 {
    font-size: 43px;
  }
  header .header-content h1:hover {
    -webkit-transform: scale(1.05, 1.07);
            transform: scale(1.05, 1.07);
  }
}

header .header-content p {
  font-size: 32px;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  margin: 5px 0px 5px 0px;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #FFF), color-stop(40%, #f6f6fcea), color-stop(60%, #e3e5ffe3), color-stop(80%, #FFF));
  background: linear-gradient(to right, #FFF 20%, #f6f6fcea 40%, #e3e5ffe3 60%, #FFF 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: animate-header-text 3s linear infinite;
          animation: animate-header-text 3s linear infinite;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

header .header-content p:hover {
  -webkit-transform: scale(1.05, 1.07);
          transform: scale(1.05, 1.07);
}

header .header-content .call-to-action {
  margin-top: 5px;
  padding: 6px 10px 6px 10px;
  font-size: 19px;
  background-color: #fafafa00;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-shadow: rgba(44, 56, 71, 0.25) 0 0.25rem 0.5rem 0;
          box-shadow: rgba(44, 56, 71, 0.25) 0 0.25rem 0.5rem 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .header-content .call-to-action a {
  text-decoration: none;
  color: white;
  padding: 6px 10px 6px 10px;
}

header .header-content .call-to-action:hover {
  -webkit-box-shadow: 0px 0px 20px 0px #707070;
          box-shadow: 0px 0px 20px 0px #707070;
}

@media (max-width: 780px) {
  header .header-content h1 {
    -webkit-animation: unset;
            animation: unset;
  }
  header .header-content p {
    font-size: 25px;
    -webkit-animation: unset;
            animation: unset;
  }
  header .header-content p:hover {
    font-size: 28px;
  }
  header .header-content .call-to-action {
    font-size: 17px;
    padding: 6px 10px 6px 10px;
  }
}

@media (max-width: 780px) {
  header .header-content {
    top: 20%;
  }
}

@-webkit-keyframes animate-header-text {
  50% {
    background-position: 200% center;
  }
}

@keyframes animate-header-text {
  50% {
    background-position: 200% center;
  }
}

@-webkit-keyframes animate-wave {
  50% {
    border-bottom-right-radius: 65%;
  }
  70% {
    border-bottom-left-radius: 25%;
  }
}

@keyframes animate-wave {
  50% {
    border-bottom-right-radius: 65%;
  }
  70% {
    border-bottom-left-radius: 25%;
  }
}

@-webkit-keyframes animate {
  50% {
    border-bottom-right-radius: 65%;
  }
  70% {
    border-bottom-left-radius: 15%;
  }
}

@keyframes animate {
  50% {
    border-bottom-right-radius: 65%;
  }
  70% {
    border-bottom-left-radius: 15%;
  }
}

@-webkit-keyframes animate-wave-opacity {
  50% {
    border-bottom-right-radius: 60%;
  }
  70% {
    border-bottom-left-radius: 10%;
  }
}

@keyframes animate-wave-opacity {
  50% {
    border-bottom-right-radius: 60%;
  }
  70% {
    border-bottom-left-radius: 10%;
  }
}

.content h2 {
  color: #2c2c51;
  text-align: center;
  font-size: 25px;
  cursor: default;
  margin: 0px 10px 0px 10px;
  font-family: 'Muli', sans-serif;
}

.content .tiles-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .tiles-content .tiles-container {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px 90px 0px;
  max-width: 1200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .tiles-content .tiles-container .tiles {
  max-width: 350px;
  text-align: center;
  margin: 25px 25px 0px 25px;
}

.content .tiles-content .tiles-container .tiles h3 {
  color: #2c2c51;
  margin: 5px 0px 10px 0px;
  font-size: 20px;
}

.content .tiles-content .tiles-container .tiles span {
  font-size: 70px;
  color: #7a84ea;
  cursor: default;
  margin: 10px 0px 10px 0px;
}

.content .tiles-content .tiles-container .tiles p {
  color: #7b7b93;
  line-height: 21px;
}

.section-title {
  color: #2c2c51;
  font-size: 27px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  cursor: default;
}

.about-me .about-me-container {
  padding-top: 35px;
  padding-bottom: 50px;
  background-color: #fafafa93;
  text-align: center;
}

.about-me .about-me-container p {
  color: #7b7b93;
  max-width: 700px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 26px;
  padding: 15px;
}

.skills {
  margin: 40px 0px 40px 0px;
}

.skills .container-skills-icon {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .container-skills-icon .skills-icon {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58px;
}

.skills .container-skills-icon .skills-icon .skills-icon-rwd span {
  position: relative;
}

.skills .container-skills-icon .skills-icon .skills-icon-rwd span:nth-child(1) {
  font-size: 27px;
  left: 30px;
  bottom: 13px;
  color: #2c2c51;
}

.skills .container-skills-icon .skills-icon .skills-icon-rwd span:nth-child(2) {
  color: #2c2c51;
  left: -11px;
  font-size: 50px;
}

.skills .container-skills-icon .skills-icon span {
  font-size: 55px;
  height: 0;
}

.skills .container-skills-icon .skills-icon .skills-icon-text {
  margin-top: 10px;
  font-size: 15px;
  color: #7b7b93;
}

.skills .container-skills-icon .skills-icon .fa-python {
  color: #366c9c;
}

.skills .container-skills-icon .skills-icon .fa-html5 {
  color: #e34c26;
}

.skills .container-skills-icon .skills-icon .fa-css3-alt {
  color: #3a98d1;
}

.skills .container-skills-icon .skills-icon .fa-js-square {
  color: #f0d91d;
}

.skills .container-skills-icon .skills-icon .fa-threejs img {
  cursor: default;
  max-width: 65px;
  height: 55px;
}

.skills .container-skills-icon .skills-icon .fa-wordpress {
  color: #268aac;
}

.skills .container-skills-icon .skills-icon .fa-git {
  color: #ea4e33;
}

.skills .container-skills-icon .skills-icon .fa-sass {
  color: #c76495;
}

.skills .container-skills-icon .skills-icon .fa-bootstrap {
  color: #543b79;
}

.skills .container-skills-icon .skills-icon .fa-adobe {
  color: #e61b23;
}

.skills .container-skills-icon .skills-icon:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  opacity: 0.8;
}

.portfolio {
  margin: 40px 0px 15px 0px;
}

.portfolio .portfolio-container {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portfolio-container .tiles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 2000px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portfolio-container .tiles-container .tiles {
  width: 500px;
  background-color: white;
  margin: 11px;
  position: relative;
}

.portfolio .portfolio-container .tiles-container .tiles .tiles-img img {
  -webkit-box-shadow: 0px 0px 55px -5px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 55px -5px rgba(0, 0, 0, 0.07);
  height: 100%;
  width: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .portfolio-container .tiles-container .tiles .tiles-hover {
  position: absolute;
  display: block;
  height: 300px;
  width: 500px;
  background-color: #7a84ea;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

@media (max-width: 760px) {
  .portfolio .portfolio-container .tiles-container .tiles .tiles-hover {
    height: 210px;
    max-width: 350px;
  }
}

@media (max-width: 420px) {
  .portfolio .portfolio-container .tiles-container .tiles .tiles-hover {
    height: 180px;
    max-width: 300px;
  }
}

.portfolio .portfolio-container .tiles-container .tiles .tiles-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.portfolio .portfolio-container .tiles-container .tiles .tiles-icon .tiles-icon {
  margin: 6px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.portfolio .portfolio-container .tiles-container .tiles .tiles-icon .tiles-icon span {
  font-size: 20px;
  color: #2c2c51;
}

.portfolio .portfolio-container .tiles-container .tiles .tiles-icon .tiles-icon a {
  text-decoration: none;
}

@media (max-width: 760px) {
  .portfolio .portfolio-container .tiles-container .tiles .tiles-icon .tiles-icon {
    margin: 5px;
  }
  .portfolio .portfolio-container .tiles-container .tiles .tiles-icon .tiles-icon span {
    font-size: 20px;
  }
}

.portfolio .portfolio-container .tiles-container .tiles .tiles-icon .tiles-icon:hover span {
  color: #383872;
}

@media (max-width: 760px) {
  .portfolio .portfolio-container .tiles-container .tiles {
    max-width: 350px;
  }
}

@media (max-width: 420px) {
  .portfolio .portfolio-container .tiles-container .tiles {
    max-width: 300px;
  }
}

.portfolio .portfolio-container .tiles-container .tiles-hover:hover {
  opacity: 0.4;
}

.contact {
  position: relative;
  top: 50px;
  margin: 0px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 50px 30px 50px;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.61);
          box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.61);
  border-radius: 15px;
  background-color: #1d2331;
  max-width: 1200px;
  width: 100%;
}

.contact .contact-container .section-title-contact {
  width: 265px;
  text-align: left;
  color: #7a84ea;
  font-size: 37px;
  font-family: 'Muli', sans-serif;
  text-align: left;
  cursor: default;
}

.contact .contact-container p {
  color: #c7c7c7;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  max-width: 600px;
}

@media (max-width: 1199px) {
  .contact .contact-container p {
    font-size: 17px;
    margin: 0px 10px 0px 10px;
  }
}

.contact .contact-container .contact-email {
  padding: 0;
}

.contact .contact-container .contact-email-text {
  color: #7a84ea;
}

.contact .contact-container .contact-email-text a {
  color: #7a84ea;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #7a84ea;
}

@media (max-width: 830px) {
  .contact .contact-container {
    padding: 30px 10px 30px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-container .section-title-contact {
    text-align: center;
  }
  .contact .contact-container p {
    margin: 10px;
  }
}

@media (max-width: 830px) {
  .contact {
    margin: 0px 10px 0px 10px;
  }
}

footer .footer-background {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
}

footer .footer-background .footer-background-shadow {
  height: 165px;
  width: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#7a83eada), to(#7a83eae0));
  background: linear-gradient(#7a83eada, #7a83eae0);
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  -webkit-animation: animation-footer-shadow 6.6s linear infinite;
          animation: animation-footer-shadow 6.6s linear infinite;
  -webkit-transform: translate3d(0px, -5px, 0px);
          transform: translate3d(0px, -5px, 0px);
}

footer .footer-background .footer-background-basic {
  height: 157px;
  width: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#7a84ea), to(#7a83ea));
  background: linear-gradient(#7a84ea, #7a83ea);
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  -webkit-animation: animation-footer-basic 6.6s linear infinite;
          animation: animation-footer-basic 6.6s linear infinite;
}

footer .footer-background .footer-bottom {
  position: absolute;
  padding-bottom: 20px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

footer .footer-background .footer-bottom .footer-logo {
  width: auto;
}

footer .footer-background .footer-bottom .footer-logo a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

footer .footer-background .footer-bottom .footer-copy {
  width: auto;
}

footer .footer-background .footer-bottom .footer-copy p {
  font-size: 17px;
  color: white;
}

footer .footer-background .footer-bottom .contact-icon {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-background .footer-bottom .contact-icon a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

footer .footer-background .footer-bottom .contact-icon .contact-tiles {
  background-color: unset;
  height: 54px;
  width: 54px;
  border-radius: 100%;
  border: 2px solid white;
  margin: 5px;
}

footer .footer-background .footer-bottom .contact-icon .contact-tiles span {
  font-size: 35px;
  color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-background .footer-bottom .contact-icon .contact-tiles:hover {
  background-color: rgba(255, 255, 255, 0.137);
}

@media (max-width: 650px) {
  footer .footer-background .footer-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 400px;
  }
}

@media (max-width: 650px) {
  footer .footer-background {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes animation-footer-basic {
  50% {
    border-top-right-radius: 15%;
  }
  70% {
    border-top-left-radius: 11%;
  }
}

@keyframes animation-footer-basic {
  50% {
    border-top-right-radius: 15%;
  }
  70% {
    border-top-left-radius: 11%;
  }
}

@-webkit-keyframes animation-footer-shadow {
  50% {
    border-top-right-radius: 15%;
  }
  70% {
    border-top-left-radius: 13%;
  }
}

@keyframes animation-footer-shadow {
  50% {
    border-top-right-radius: 15%;
  }
  70% {
    border-top-left-radius: 13%;
  }
}

::-webkit-scrollbar {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bebebe;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #afafaf;
}
/*# sourceMappingURL=style.css.map */